<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/psplogin.js"></script>

	<style type="text/css">
		
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #C7C7C7,  #a9a9a9);
	/*background: #f6f5f7;*/
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	 font-family:'Montserrat',sans-serif;
	margin-top: 100px;
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #00A1BF;
	background-color: #00A1BF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	margin-left: 450px;
	margin-top: 75px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	/*background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);*/
	/*background: linear-gradient(to right, #3499FF, #3A3985);*/
	/*background-color: crimson;*/
	background-color: #00A1BF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.bubbles{
		/*background-image:linear-gradient(to right top,#d16ba5,#c777b9,#ba83ca,
			                                           #aa8fd8,#9a9ae1,#8aa7ec,
			                                           #79b3f4,#69bff8,#52cffe,
			                                           #41dfff,#46eefa,#5ffbf1);*/

			                                          /* background:  linear-gradient(to left, #33ccff 0%, #0066ff 100%);*/
		width:100%;
		height:100%;
		position: absolute;
		z-index: 0;
		overflow: hidden;
	}
	.bubble{
		bottom:0;
		height:40px;
		width:40px;
		/*background:#f1f1f1;*/
		background: linear-gradient(to right, #C7C7C7,  #a9a9a9);
		position: absolute;
		border-radius:10%;
		opacity:0.5;
		border:5px solid #00A1BF;
		animation:flying 5s infinite ease-in;
	}
	.bubble:nth-child(1){
		width:40px;
		height:40px;
		left:10%;
		animation-duration:12s;
	}
	.bubble:nth-child(2){
		width:50px;
		height:50px;
		left:20%;
		animation-duration:10s;
		
	}
	.bubble:nth-child(3){
		width:30px;
		height:30px;
		left:30%;
		animation-duration:9s;
	
	}
	.bubble:nth-child(4){
		width:30px;
		height:30px;
		left:15%;
		animation-duration:10s;
		/*animation-delay: 1s;*/
	}
	.bubble:nth-child(5){
		width:40px;
		height:40px;
		left:25%;
		animation-duration:12s;
	}
	.bubble:nth-child(6){
		width:50px;
		height:50px;
		left:50%;
		animation-duration:10s;
	}
	.bubble:nth-child(7){
		width:40px;
		height:40px;
		left:60%;
		animation-duration:8s;
	}
	.bubble:nth-child(8){
		width:30px;
		height:30px;
		left:70%;
		animation-duration:10s;
	}
	.bubble:nth-child(8){
		width:30px;
		height:30px;
		left:75%;
		animation-duration:9s;
	}
	.bubble:nth-child(9){
		width:30px;
		height:30px;
		left:80%;
		animation-duration:11s;
	}
	.bubble:nth-child(10){
		width:25px;
		height:25px;
		left:90%;
		animation-duration:8s;
	}
	.bubble:nth-child(11){
		width:30px;
		height:30px;
		left:95%;
		animation-duration:10s;
	}
	.bubble:nth-child(12){
		width:40px;
		height:40px;
		left:45%;
		animation-duration:7s;
	}
	.bubble:nth-child(13){
		width:30px;
		height:30px;
		left:100%;
		animation-duration:8s;
	}
	.bubble:nth-child(14){
		width:30px;
		height:30px;
		left:90%;
		animation-duration:8s;
	}
	.bubble:nth-child(15){
		width:40px;
		height:40px;
		left:30%;
		animation-duration:8s;
	}
	.bubble:nth-child(16){
		width:40px;
		height:40px;
		left:10%;
		animation-duration:12s;
	}
	.bubble:nth-child(17){
		width:50px;
		height:50px;
		left:20%;
		animation-duration:10s;
		
	}
	.bubble:nth-child(18){
		width:30px;
		height:30px;
		left:30%;
		animation-duration:9s;
	
	}
	.bubble:nth-child(19){
		width:30px;
		height:30px;
		left:15%;
		animation-duration:10s;
		/*animation-delay: 1s;*/
	}
	.bubble:nth-child(20){
		width:40px;
		height:40px;
		left:25%;
		animation-duration:12s;
	}
	.bubble:nth-child(21){
		width:50px;
		height:50px;
		left:50%;
		animation-duration:10s;
	}
	.bubble:nth-child(22){
		width:40px;
		height:40px;
		left:60%;
		animation-duration:8s;
	}
	.bubble:nth-child(23){
		width:30px;
		height:30px;
		left:70%;
		animation-duration:10s;
	}
	.bubble:nth-child(24){
		width:30px;
		height:30px;
		left:75%;
		animation-duration:9s;
	}
	.bubble:nth-child(25){
		width:30px;
		height:30px;
		left:80%;
		animation-duration:11s;
	}
	.bubble:nth-child(26){
		width:25px;
		height:25px;
		left:90%;
		animation-duration:8s;
	}
	.bubble:nth-child(27){
		width:30px;
		height:30px;
		left:95%;
		animation-duration:10s;
	}
	@keyframes flying{
		0%{
			bottom:-100px;
			transform: translateX(0px) rotate(120deg);
		}
	    50%{
			bottom: 1080px;
			transform: translateX(10px) rotate(360deg);
		}
		90
		%{
			bottom: 1000px;
			transform: translateX(50px) rotate(222deg);
		}
		75%{
			bottom:900px;
			transform: translateX(100px);
		}
		100%{
			bottom:1000px;
			transform: translateX(200px);

		}
	}

	@keyframes animation-delay: 
	{
		0%{
			transform:rotateY(90deg);
			opacity: 0;
		}
		100%{
			transform: rotateY(90deg);
			opacity: 1;
		}

	}
	
	}
	


.blink_text {
 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}
#eye{
		border: 2px solid #00A1BF;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	} 
	/*parent form*/
	h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	 font-family:'Montserrat',sans-serif;
	margin-top: 100px;
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #00A1BF;
	background-color: #00A1BF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.g{
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


.c {
	margin-left: 450px;
	margin-top: 75px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-c {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sig-in-c {
	left: 0;
	width: 50%;
	z-index: 2;
}

.c.right-panel-active .sign-in-c {
	transform: translateX(100%);
}

.sig-up-c {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.c.right-panel-active .sign-up-c {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}
.overlay-c {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.c.right-panel-active .overlay-c{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	/*background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);*/
	/*background: linear-gradient(to right, #3499FF, #3A3985);*/
	/*background-color: crimson;*/
	background-color: #00A1BF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.c.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.c.right-panel-active .overlay-left {
	transform: translateX(0);
}
.overlay-right {
	right: 0;
	transform: translateX(0);
}

.c.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.social-c {
	margin: 20px 0;
}

.social-c a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


	</style>
</head>
<body ng-app="myapp">
	<div class="bubbles">
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
<h2>P-S-P PORTAL</h2>
	<ul class="nav  nav-tabs">
		<li><a href="#proctorstudent" data-toggle="tab" class="active">proctorstudent</a></li>
        <li><a href="#parent" data-toggle="tab">parent</a></li>
	</ul>
	<div class="tab-content">
		<div id="proctorstudent" class="tab tab-pane fade in active">

<div class="container" id="container">
	<div class="form-container sign-up-container"  ng-controller="myController">
		<form>
			<h1 class="blink_text">Login as student</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
			</div>
			<span>Login and enter your portal</span>
			<input type="text" placeholder="Rollnumber" ng-model="user.Roll">
			<input type="password" placeholder="Password" ng-model="user.pass" id="myInput">
			 <i class="fa fa-eye" onclick="myFunction()" id="eye"></i>
			<button ng-click="submitData(user)">login as student</button>
		</form>
	</div>
	<div class="form-container sign-in-container" ng-controller="youController">
		<form>
			<h1>Login as proctor</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
				</div>
			<span>Login and enter your portal</span>
			<input type="text" placeholder="Roll number" ng-model="proctor.id">
			<input type="password" placeholder="Password" ng-model="proctor.pwd" id="myinput">
			 <i class="fa fa-eye" onclick="proctorFunction()" id="eye"></i>
			<!-- <a href="/forgot">Forgot your password?</a> -->
			<button ng-click="saveData(proctor)">Login as proctor</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome!!!</h1>
				<p>Connected with this portal and keep updating your info</p>
				<button class="ghost" id="signIn">proctor</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hey Hello</h1>
				<p>Enter your credentials and login</p>
				<button class="ghost" id="signUp">student</button>
			</div>
		</div>
	</div>
</div>
</div>
<div id="parent" class="tab tab-pane">

</div>
	<!-- <h1>parent</h1> -->
	<div class="c" id="c">
	<div class="form-c sig-in-c" ng-controller="parentController">
		<form>
			<h1>Login as parent</h1>
			<div class="social-c">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
				</div>
			<span>Login and enter your portal</span>
			<input type="text" placeholder="Roll number" ng-model="child.roll">
			<input type="password" placeholder="Password" ng-model="child.psd" id="myinput">
			 <i class="fa fa-eye" onclick="proctorFunction()" id="eye"></i>
			<!-- <a href="/forgot">Forgot your password?</a> -->
			<button ng-click="submitparent(child)">Login as parent</button>
		</form>
	</div>
	<div class="overlay-c">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Namaste</h1>
				<p>Enter your credentials and view your child progress</p>
				<button class="g" id="sigUp">Parent</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
<script type="text/javascript">
	const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});


</script>
<script type="text/javascript">
	function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function proctorFunction() {
  var x = document.getElementById("myinput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</html>